/* BBVA Fonts */
@font-face {
    font-family: 'BentonSansBBVA-Bold';
    src: url('../fonts/BentonSansBBVA-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BentonSansBBVA-Bold.otf') format('opentype'),
    url('../fonts/BentonSansBBVA-Bold.woff') format('woff'),
    url('../fonts/BentonSansBBVA-Bold.ttf') format('truetype'),
    url('../fonts/BentonSansBBVA-Bold.svg#BentonSansBBVA-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BentonSansBBVA-Book';
    src: url('../fonts/BentonSansBBVA-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BentonSansBBVA-Book.otf') format('opentype'),
    url('../fonts/BentonSansBBVA-Book.woff') format('woff'),
    url('../fonts/BentonSansBBVA-Book.ttf') format('truetype'),
    url('../fonts/BentonSansBBVA-Book.svg#BentonSansBBVA-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BentonSansBBVA-BookItalic';
    src: url('../fonts/BentonSansBBVA-BookItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BentonSansBBVA-BookItalic.otf') format('opentype'),
    url('../fonts/BentonSansBBVA-BookItalic.woff') format('woff'),
    url('../fonts/BentonSansBBVA-BookItalic.ttf') format('truetype'),
    url('../fonts/BentonSansBBVA-BookItalic.svg#BentonSansBBVA-BookItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BentonSansBBVA-Medium';
    src: url('../fonts/BentonSansBBVA-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BentonSansBBVA-Medium.otf') format('opentype'),
    url('../fonts/BentonSansBBVA-Medium.woff') format('woff'),
    url('../fonts/BentonSansBBVA-Medium.ttf') format('truetype'),
    url('../fonts/BentonSansBBVA-Medium.svg#BentonSansBBVA-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BentonSansBBVA-MediumItalic';
    src: url('../fonts/BentonSansBBVA-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BentonSansBBVA-MediumItalic.otf') format('opentype'),
    url('../fonts/BentonSansBBVA-MediumItalic.woff') format('woff'),
    url('../fonts/BentonSansBBVA-MediumItalic.ttf') format('truetype'),
    url('../fonts/BentonSansBBVA-MediumItalic.svg#BentonSansBBVA-MediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BentonSansBBVA-Light';
    src: url('../fonts/BentonSansBBVA-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BentonSansBBVA-Light.otf') format('opentype'),
    url('../fonts/BentonSansBBVA-Light.woff') format('woff'),
    url('../fonts/BentonSansBBVA-Light.ttf') format('truetype'),
    url('../fonts/BentonSansBBVA-Light.svg#BentonSansBBVA-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?qa438t');
    src: url('../fonts/icomoon.eot?qa438t#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?qa438t') format('truetype'),
    url('../fonts/icomoon.woff?qa438t') format('woff'),
    url('../fonts/icomoon.svg?qa438t#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* BBVA Fonts */

/*!* NOTE*/
/*html is set to 62.5% so that all the REM measurements throughout Skeleton*/
/*are based on 10px sizing. So basically 1.5rem = 15px :) *!*/
/*html {*/
/*font-size: 62.5%; }*/
/*body {*/
/*font-size: 1.5em; !* currently ems cause chrome bug misinterpreting rems on body element *!*/
/*line-height: 1.6;*/
/*font-weight: 400;*/
/*font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*color: #222; }*/

/* Mainly Font Styling */
/* BEGIN STYLING */
/*body {*/
    /*font-size: 15px;*/
    /*font-family: BentonSansBBVA-Book;*/
    /*margin: 0;*/
/*}*/

/*h1 {*/
    /*font-size: 2rem;*/
    /*font-family: BentonSansBBVA-Medium;*/
/*}*/
/*h2 {*/
    /*font-size: 1.8rem;*/
    /*font-family: BentonSansBBVA-Medium;*/
/*}*/
/*h3 {*/
    /*font-size: 1.6rem;*/
    /*font-family: BentonSansBBVA-Medium;*/
/*}*/
/*h4 {*/
    /*font-size: 1.4rem;*/
    /*font-family: BentonSansBBVA-Bold;*/
/*}*/
/*h5 {*/
    /*font-size: 1.2rem;*/
    /*font-family: BentonSansBBVA-Bold;*/
/*}*/
/*h6 {*/
    /*font-size: 1.1rem;*/
    /*font-family: BentonSansBBVA-Bold;*/
/*}*/

/*p, span {*/
    /*font-size: 1.1rem;*/
    /*-webkit-font-smoothing: antialiased;*/
/*}*/
/* END STYLING */

/* BEGIN STRUCTURE */
/*h1, h2, h3 {*/
    /*margin-top: 21px;*/
    /*margin-bottom: 11px;*/
/*}*/
/*h4, h5, h6 {*/
    /*margin-top: 15px;*/
    /*margin-bottom: 8px;*/
/*}*/

/*p {*/
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
/*}*/
/* END STRUCTURE */
/* Mainly Font Styling */


/* Responsive 1024 */
@media (max-width: 1024px) {

}

/* Responsive 768 */
@media (max-width: 768px) {

}

/* Responsive 425 */
@media (max-width: 425px) {

}


