/* Primary Color Palette */
.bbva-core-blue {
    color: #004481;
}
.bbva-core-blue-dark {
    color: #043263;
}
.bbva-core-blue-light {
    color: #1464A5;
}

.bbva-medium-blue {
    color: #1973B8;
}
.bbva-medium-blue-light {
    color: #49A5E6;
}

.bbva-sky-blue {
    color: #5BBEFF;
}
.bbva-sky-blue-light {
    color: #D4EDFC;
}

.bbva-aqua {
    color: #2DCCCD;
}
.bbva-aqua-dark {
    color: #028484;
}
.bbva-aqua-medium {
    color: #02A5A5;
}
.bbva-aqua-light {
    color: #5AC4C4;
}
.bbva-aqua-white {
    color: #EAF9FA;
}

.bbva-white {
    color: #FFFFFF;
}

.bbva-nany-blue {
    color: #072146;
}
/* Primary Color Palette */

/* Secondary Color Palette */
.bbva-black-600 {
    color: #121212;
}
.bbva-black-500 {
    color: #666666;
}
.bbva-black-400 {
    color: #BDBDBD;
}
.bbva-black-300 {
    color: #D3D3D3;
}
.bbva-black-200 {
    color: #E9E9E9;
}
.bbva-black-100 {
    color: #F4F4F4;
}
/* Secondary Color Palette */

/* Tertiary Color Palette */
/* GREEN */
.bbva-green {
    color: #48AE64;
}
.bbva-green-dark {
    color: #277A3E;
}
.bbva-green-medium {
    color: #388D4F;
}
.bbva-green-light {
    color: #88CA9A;
}
.bbva-green-white {
    color: #D9EFE0;
}
/* YELLOW */
.bbva-yellow {
    color: #F8CD51;
}
.bbva-yellow-dark {
    color: #9C6C01;
}
.bbva-yellow-medium {
    color: #C49735;
}
.bbva-yellow-light {
    color: #FADE8E;
}
.bbva-yellow-white {
    color: #FEF5DC;
}
/* PINK */
.bbva-pink {
    color: #F78BE8;
}
.bbva-pink-dark {
    color: #AD53A1;
}
.bbva-pink-medium {
    color: #C569B9;
}
.bbva-pink-light {
    color: #FAB3F0;
}
.bbva-pink-white {
    color: #FDDCF8;
}
/* SAND */
.bbva-sand {
    color: #D8BE75;
}
.bbva-sand-dark {
    color: #8E7022;
}
.bbva-sand-medium {
    color: #B79E5E;
}
.bbva-sand-light {
    color: #E6D5A5;
}
.bbva-sand-white {
    color: #f3ebd5;
}
/* RED */
.bbva-red {
    color: #da3851;
}
.bbva-red-dark {
    color: #b92a45;
}
.bbva-red-medium {
    color: #c0475e;
}
.bbva-red-light {
    color: #e77b8e;
}
.bbva-red-white {
    color: #f4c3ca;
}
/* PURPLE */
.bbva-purple {
    color: #8f7ae5;
}
.bbva-purple-dark {
    color: #6754b8;
}
.bbva-purple-medium {
    color: #7c6ac7;
}
.bbva-purple-light {
    color: #b6a8ee;
}
.bbva-purple-white {
    color: #ddd7f7;
}
/* CORAL */
.bbva-coral {
    color: #f35e61;
}
.bbva-coral-dark {
    color: #cb353a;
}
.bbva-coral-medium {
    color: #d44b50;
}
.bbva-coral-light {
    color: #f59799;
}
.bbva-coral-white {
    color: #fcdfdf;
}
/* ORANGE */
.bbva-orange {
    color: #f7893b;
}
.bbva-orange-dark {
    color: #c65302;
}
.bbva-orange-medium {
    color: #d8732c;
}
.bbva-orange-light {
    color: #fab27f;
}
.bbva-orange-white {
    color: #fde7d8;
}
/* Tertiary Color Palette */
