<form id="mentor-form">

    <fieldset class="form-donor">

        <div id="encabezado0">
            <h4 id="actionIcon0">Mi biografía:</h4>
        </div>

        <div id="datos0">
            <div class="align-left">
                <h4 class="subtitulos">Nivel de Mentoria:</h4>

                <div class="checkbox col-lg-4 col-md-4 col-sm-6 col-xs-6 fl_wrap">
                    <input type="checkbox" name="secundaria" value="gusta">
                    <label>Secundaria</label>
                </div>
                <div class="checkbox col-lg-4 col-md-4 col-sm-6 col-xs-6 fl_wrap">
                    <input type="checkbox" name="secundaria" value="gusta">
                    <label>Preparatoria</label>
                </div>
                <div class="checkbox col-lg-4 col-md-4 col-sm-6 col-xs-6 fl_wrap">
                    <input type="checkbox" name="secundaria" value="gusta">
                    <label>Universidad</label>
                </div>


                <div class="align-left">
                    <h4 class="subtitulos">Programa de Becas:</h4>

                    <div class="checkbox col-lg-4 col-md-4 col-sm-6 col-xs-6 fl_wrap">
                        <input type="checkbox" name="secundaria" value="gusta">
                        <label>Por los que se quedan</label>
                    </div>
                    <div class="checkbox col-lg-4 col-md-4 col-sm-6 col-xs-6 fl_wrap">
                        <input type="checkbox" name="secundaria" value="gusta">
                        <label>Olimpiada del Conocimiento Infantil</label>
                    </div>
                    <div class="checkbox col-lg-4 col-md-4 col-sm-6 col-xs-6 fl_wrap">
                        <input type="checkbox" name="secundaria" value="gusta">
                        <label>Generación Bicentenario</label>
                    </div>
                </div>

                <div class="align-left ">
                    <h4 class="subtitulos">Tipo de Actividad:</h4>

                    <div class="checkbox col-lg-4 col-md-4 col-sm-6 col-xs-6 fl_wrap">
                        <input type="checkbox" name="secundaria" value="gusta">
                        <label>Voluntario</label>
                    </div>
                    <div class="checkbox col-lg-4 col-md-4 col-sm-6 col-xs-6 fl_wrap">
                        <input type="checkbox" name="secundaria" value="gusta">
                        <label>Servicio Social</label>
                    </div>
                </div>

                <!--<div class="form-field text-field col-lg-6 col-md-6 col-sm-6 col-xs-12 fl_wrap">-->
                <!--<input type="text" name="FirstName" class="fl_input">-->
                <!--<p>Perez</p>-->
                <!--<label class="fl_label">Fecha de ingreso al programa</label>-->
                <!--</div>-->
                <!--<div class="form-field text-field col-lg-6 col-md-6 col-sm-6 col-xs-12 fl_wrap">-->
                <!--<input type="text" name="FirstName" class="fl_input">-->
                <!--<label class="fl_label">Tiempo en el programa</label>-->
                <!--</div>-->

                <div class="form-field text-field col-lg-6 col-md-6 col-sm-6 col-xs-12 fl_wrap focused">
                    <p>12/03/11</p>
                    <label>Fecha de ingreso al programa</label>
                </div>
                <div class="form-field text-field col-lg-6 col-md-6 col-sm-6 col-xs-12 fl_wrap focused">
                    <p>5 años</p>
                    <label>Tiempo en el programa</label>
                </div>
                <div class="form-field text-field col-lg-12 col-md-12 col-sm-6 col-xs-12 fl_wrap">
                    <textarea class="fl_input"></textarea>
                    <label class="fl_label">Acerca de mi</label>
                </div>


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4>Intereses:</h4>
                    <!--****************************************-->
                    <div class="checkbox col-lg-4 col-md-4 col-sm-6 col-xs-6 fl_wrap">
                        <input type="checkbox" name="secundaria" value="gusta">
                        <label>Deportes</label>
                    </div>
                    <div class="checkbox col-lg-4 col-md-4 col-sm-6 col-xs-6 fl_wrap">
                        <input type="checkbox" name="secundaria" value="gusta">
                        <label>Naturaleza</label>
                    </div>
                    <div class="checkbox col-lg-4 col-md-4 col-sm-6 col-xs-6 fl_wrap">
                        <input type="checkbox" name="secundaria" value="gusta">
                        <label>Arte y Cultura</label>
                    </div>
                    <div class="checkbox col-lg-4 col-md-4 col-sm-6 col-xs-6 fl_wrap">
                        <input type="checkbox" name="secundaria" value="gusta">
                        <label>Libros</label>
                    </div>
                    <div class="checkbox col-lg-4 col-md-4 col-sm-6 col-xs-6 fl_wrap">
                        <input type="checkbox" name="secundaria" value="gusta">
                        <label>Viajes</label>
                    </div>
                    <div class="checkbox col-lg-4 col-md-4 col-sm-6 col-xs-6 fl_wrap">
                        <input type="checkbox" name="secundaria" value="gusta">
                        <label>Música</label>
                    </div>
                    <div class="checkbox col-lg-4 col-md-4 col-sm-6 col-xs-6 fl_wrap">
                        <input type="checkbox" name="secundaria" value="gusta">
                        <label>Ciencia y tecnología</label>
                    </div>
                    <div class="checkbox col-lg-4 col-md-4 col-sm-6 col-xs-6 fl_wrap">
                        <input type="checkbox" name="secundaria" value="gusta">
                        <label>Cocina</label>
                    </div>
                    <div class="checkbox col-lg-4 col-md-4 col-sm-6 col-xs-6 fl_wrap">
                        <input type="checkbox" name="secundaria" value="gusta">
                        <label>Animales</label>
                    </div>
                    <div class="checkbox col-lg-4 col-md-4 col-sm-6 col-xs-6 fl_wrap">
                        <input type="checkbox" name="secundaria" value="gusta">
                        <label>Cine</label>
                    </div>
                </div>

                <!--****************corregir aqui los checbox para mostrarlos en una solsa seccion, sin necesidad de************************-->

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4>Competencias:</h4>

                    <div class="checkbox col-lg-4 col-md-4 col-sm-6 col-xs-6 fl_wrap">
                        <input type="checkbox" name="secundaria" value="gusta">
                        <label>Uso de herramientas digitales</label>
                    </div>
                    <div class="checkbox col-lg-4 col-md-4 col-sm-6 col-xs-6 fl_wrap">
                        <input type="checkbox" name="secundaria" value="gusta">
                        <label>Orientación a Resultados</label>
                    </div>
                    <div class="checkbox col-lg-4 col-md-4 col-sm-6 col-xs-6 fl_wrap">
                        <input type="checkbox" name="secundaria" value="gusta">
                        <label>Servicio al cliente</label>
                    </div>
                    <div class="checkbox col-lg-4 col-md-4 col-sm-6 col-xs-6 fl_wrap">
                        <input type="checkbox" name="secundaria" value="gusta">
                        <label>Trabajo en equipo</label>
                    </div>
                    <div class="checkbox col-lg-4 col-md-4 col-sm-6 col-xs-6 fl_wrap">
                        <input type="checkbox" name="secundaria" value="gusta">
                        <label>Emprendimiento e innovación</label>
                    </div>
                    <div class="checkbox col-lg-4 col-md-4 col-sm-6 col-xs-6 fl_wrap">
                        <input type="checkbox" name="secundaria" value="gusta">
                        <label>Análisis y Sintesis</label>
                    </div>
                    <div class="checkbox col-lg-4 col-md-4 col-sm-6 col-xs-6 fl_wrap">
                        <input type="checkbox" name="secundaria" value="gusta">
                        <label>Liderazgo de equipos</label>
                    </div>
                </div>
            </div>
        </div>

        <div id="encabezado1">
            <h4 id="actionIcon1" >Datos Personales</h4>
        </div>
        <div id="datos1">
            <div class="align-left">

                <div class="form-field text-field col-lg-4 col-md-6 col-sm-6 col-xs-12 fl_wrap focused">
                    <p>Pepé</p>
                    <label>Nombre</label>
                </div>

                <div class="form-field text-field col-lg-4 col-md-6 col-sm-6 col-xs-12 fl_wrap focused">
                    <p>Perez</p>
                    <label>Apellido Paterno</label>
                </div>
                <div class="form-field text-field col-lg-4 col-md-6 col-sm-6 col-xs-12 fl_wrap focused">
                    <p>Picardo</p>
                    <label>Apellido Materno</label>
                </div>
                <div class="form-field text-field col-lg-4 col-md-6 col-sm-6 col-xs-12 fl_wrap focused">
                    <p>15/03/2012</p>
                    <label>Fecha Nacimiento</label>
                </div>
                <div class="form-field text-field col-lg-4 col-md-6 col-sm-6 col-xs-12 fl_wrap focused">
                    <p>54 años</p>
                    <label>Edad</label>
                </div>

                <div class="form-field text-field col-lg-4 col-md-6 col-sm-6 col-xs-12 fl_wrap focused">
                    <p>Hombre</p>
                    <label>Sexo</label>
                </div>

                <div class="form-field text-field col-lg-4 col-md-6 col-sm-6 col-xs-12 fl_wrap focused">
                    <p>5 años</p>
                    <label>Antigüedad en BBVA Bancomer </label>
                </div>
                <div class="form-field text-field col-lg-4 col-md-6 col-sm-6 col-xs-12 fl_wrap focused">
                    <p>M123456</p>
                    <label>Usuario M</label>
                </div>

                <div class="form-field col-lg-4 col-md-6 col-sm-6 col-xs-12 fl_wrap">
                    <select class="select-field contact-select">
                        <option>Formación en línea</option>
                        <option>sin iniciar</option>
                        <option>En progreso</option>
                        <option>Realizado</option>
                    </select>
                </div>
            </div>
        </div>

        <div id="encabezado2">
            <h4 id="actionIcon2">Datos de Contacto</h4>
        </div>
        <div id="datos2">
            <div class="align-left">
                <div class="form-field text-field col-lg-6 col-md-6 col-sm-6 col-xs-12 fl_wrap">
                    <input type="text" name="jobTelephone" class="fl_input">
                    <label class="fl_label">Teléfono de oficina</label>
                </div>
                <div class="form-field text-field col-lg-6 col-md-6 col-sm-6 col-xs-12 fl_wrap">
                    <input type="text" name="extension" class="fl_input">
                    <label class="fl_label">Extensión</label>
                </div>
                <div class="form-field text-field col-lg-6 col-md-6 col-sm-6 col-xs-12 fl_wrap">
                    <input type="text" name="mobileTelephone" class="fl_input">
                    <label class="fl_label">Teléfono celular</label>
                </div>
                <div class="form-field text-field col-lg-6 col-md-6 col-sm-6 col-xs-12 fl_wrap focused">
                    <p>correp@bbva.com</p>
                    <label>Correo institucional</label>
                </div>

            </div>
        </div>

        <div  id="encabezado3">
            <h4 id="actionIcon3">Datos Escolares:</h4>
        </div>
        <div id="datos3">
            <div class="form-field col-lg-4 col-md-6 col-sm-6 col-xs-12 fl_wrap">
                <select class="select-field contact-select">
                    <option>Último nivel de estudios</option>
                    <option>Licenciatura/ Ingenieria</option>
                    <option>Maestría / Especialidad</option>
                    <option>Doctorado</option>
                </select>
            </div>

            <div class="form-field text-field col-lg-4 col-md-6 col-sm-6 col-xs-12 fl_wrap">
                <input type="text" name="extension" class="fl_input">
                <label class="fl_label">Universidad</label>
            </div>
            <div class="form-field text-field col-lg-4 col-md-6 col-sm-6 col-xs-12 fl_wrap">
                <input type="text" name="extension" class="fl_input">
                <label class="fl_label">Carrera</label>
            </div>
        </div>

        <section class="align-center">
            <button type="button" class="btn btn-blue">Guardar</button>
        </section>

    </fieldset>
</form>