<app-header></app-header>
<app-nav is-search-option="false"></app-nav>

<section class="section-gray">
    <article class="container-fluid">
        <div class="container">
            <div class="row">
                <mentor-resume user="DiaryCtrl.userSession"></mentor-resume>
            </div>
        </div>
    </article>
</section>

<article class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                <h1>This is the Diary</h1>
            </div>
        </div>
    </div>
</article>


<article class="section-white">
    <div class="container">
        <div class="row">
            <!--aqui debería invocar el nuevo menu -->
            <session-menu level-menus="DiaryCtrl.scholarMenuData.scholarLevels" on-level-menu-selected="DiaryCtrl.onLevelOrGradeMenuSelected()" on-grade-menu-selected="DiaryCtrl.onLevelOrGradeMenuSelected()" on-session-menu-selected="DiaryCtrl.onSessionMenuSelected(id)"></session-menu>
            <!--<scholar-menu scholar-menus="DiaryCtrl.scholarMenuData.scholarLevels" on-menu-selected="DiaryCtrl.onScholarLevelMenuSelected(id)"></scholar-menu>-->
            <!--<scholar-menu ng-if="DiaryCtrl.gradeMenus.length > 0" scholar-menus="DiaryCtrl.gradeMenus" item-selected-class="DiaryCtrl.GRADE_SELECTED" on-menu-selected="DiaryCtrl.onScholarGradeMenuSelected(id)"></scholar-menu>-->
            <!--<scholar-menu ng-if="DiaryCtrl.sessionMenus.length > 0" scholar-menus="DiaryCtrl.sessionMenus" item-selected-class="DiaryCtrl.SESSION_SELECTED" on-menu-selected="DiaryCtrl.onScholarSessionMenuSelected(id)"></scholar-menu>-->

            <!--<scholar-level-menu scholar-levels="DiaryCtrl.scholarMenuData.scholarLevels"></scholar-level-menu>-->
        </div>
    </div>
</article>

<!--<article class="section-white">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!---->
        <!--</div>-->
    <!--</div>-->
<!--</article>-->

<article class="section-white">
    <div class="container">
        <div class="row">

            <section ng-if="DiaryCtrl.isDiaryShowed" class="sessions-container">

                <section class="diary-material-container">
                    <div class="diary-material-content">
                        <section class="diary-material-buttons col-lg-6 col-md-6 col-sm-6 col-xl-6">
                            <button type="button" class="button btn-evaluate" ng-click="DiaryCtrl.onPreview()">Visualizar material</button>
                        </section>
                        <section class="diary-material-message col-lg-6 col-md-6 col-sm-6 col-xl-6">
                        <span uib-rating ng-model="DiaryCtrl.diary.material.score" max="5" read-only="true" on-hover="hoveringOver(value)"
                              on-leave="overStar = null" titles="['one','two','three', 'four', 'five']" aria-labelledby="default-rating"
                              class="rating-star" ng-if="DiaryCtrl.diary.material.score > 0"></span>
                            <p ng-if="DiaryCtrl.diary.material.score == 0">
                                Pendiente de Evaluar.
                            </p>
                        </section>
                    </div>
                </section>

                <!--<div class="separator-20"></div>-->

                <uib-accordion class="diary-accordion">
                    <article uib-accordion-group is-open="true">
                        <header uib-accordion-heading>
                            <h4>Pendings</h4>
                        </header>
                        <section class="wainting-scholarship-holders-list">
                            <diary-pending-list class="waiting-scholarship-holders-table"></diary-pending-list>

                            <diary-schedule-form class="diary-form"></diary-schedule-form>
                        </section>
                    </article>

                    <article uib-accordion-group>
                        <header uib-accordion-heading>
                            <h4>Schedules</h4>
                        </header>
                        <diary-session session="session" ng-repeat="session in DiaryCtrl.data.sessions"></diary-session>
                        <!--<diary-session session="DiaryCtrl.data.sessions[0]"></diary-session>-->
                        <!--<diary-session session="DiaryCtrl.data.sessions[0]"></diary-session>-->
                    </article>

                    <article uib-accordion-group>
                        <header uib-accordion-heading>
                            <h4>Historical</h4>
                        </header>
                        <diary-session session="session" ng-repeat="session in DiaryCtrl.data.sessionsHistorical"></diary-session>
                        <!--<diary-session session="DiaryCtrl.data.sessions[0]"></diary-session>-->
                        <!--<diary-session session="DiaryCtrl.data.sessions[0]"></diary-session>-->
                        <!--<diary-session session="DiaryCtrl.data.sessions[0]"></diary-session>-->
                    </article>
                </uib-accordion>
            </section>

            <empty-message ng-if="!DiaryCtrl.isDiaryShowed" message="Seleccionar nivel, grado Escolar y número de sessión a revisar, de favor."></empty-message>

        </div>
    </div>
</article>

<app-footer></app-footer>