.distribution-session-element{
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
}

.session-number{
  grid-column: 1;
  overflow: scroll;
}

.load-content{
  grid-column: 2;
}

.menu-session-col-6{
  list-style: none;
}

.menu-session-col-6 li{
  color: #666666;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-session-col-6 li:hover {
  background-color: #D4EDFC;
}

.menu-session-col-6 li.session-selected{
  background-color: #004481;
}

.video-area{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.video-rectangle{
  border: 2px solid #BDBDBD;
  border-style: dashed;
  display: flex;
  height: 90%;
  width: 700px;
  margin: 35px 150px 0px 150px;
}

.button-file{
  grid-area:6/4/4/5;
}



.rounded-corner {
  border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;

}

.layer-one{
  position: relative;
}

.layer-two{
  position: absolute;

}

.aling-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.name-label-button{
  padding: 1px 7px 2px;
  display: table;
  color: #17202A;
  width: 30%;
  font-size: 13px;
  -webkit-appearance: button;
  cursor: pointer;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);

}



.button-save-file{
  display: inline-block;
  width: 30%;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  cursor: pointer;
  //border-bottom: solid 1px #121212;
  //min-height: 60px;
}

.button-save-file:hover{

}