<app-header></app-header>
<app-nav></app-nav>

<article class="section-white">

    <!--<section class="container-fluid">-->
        <!--<div class="container">-->
            <!--<div class="row program-nav levels">-->
                <!--<nav>-->
                    <!--<ul>-->
                        <!--<li>Secundaria</li>-->
                        <!--<li>Preparatoria</li>-->
                        <!--<li class="item-selected">Universidad</li>-->
                    <!--</ul>-->
                <!--</nav>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->

    <!--<section class="container-fluid">-->
        <!--<div class="container">-->
            <!--<div class="row program-nav">-->
                <!--<nav>-->
                    <!--<ul>-->
                        <!--<li>1er</li>-->
                        <!--<li>2do</li>-->
                        <!--<li class="item-selected">3ro</li>-->
                        <!--<li>4to</li>-->
                        <!--<li>5to</li>-->
                    <!--</ul>-->
                <!--</nav>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->

    <level-scholar-menu scholar-levels="CLCtrl.data.scholarLevels"></level-scholar-menu>

    <section class="container-fluid">
        <div class="container">
            <div class="row distribution-session-element">
                <div class="session-number">
                    <ul class="menu-session-col-6">
                        <li>Sesi&oacute;n Uno</li>
                        <li>Sesi&oacute;n Dos</li>
                        <li>Sesi&oacute;n Tres</li>
                        <li>Sesi&oacute;n Cuatro</li>
                        <li class="session-selected">Sesi&oacute;n Cinco</li>
                        <li>Sesi&oacute;n Cinco</li>
                        <li>Sesi&oacute;n Cinco</li>
                        <li>Sesi&oacute;n Cinco</li>
                        <li>Sesi&oacute;n n..</li>
                    </ul>
                </div>
                <div class="load-content">
                    <div class="video-rectangle rounded-corner"/>
                    <div class="aling-button">
                        <input class="button-save-file" type="file">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid">
        <div class="container">
            <div class="row" >

                <upload-resources-row available-options="CLCtrl.localData.availableOptions"></upload-resources-row>
                <!--<article>-->
                    <!--<span>Seleccione una opción</span>-->
                    <!--&lt;!&ndash;<select>&ndash;&gt;-->
                    <!--&lt;!&ndash;<option ng-click="CLCtrl.validateOptions()" ng-repeat="availableOptions in CLCtrl.localData.availableOptions">{{availableOptions.name}}</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;</select>&ndash;&gt;-->
                    <!--&lt;!&ndash;<select ng-change="validateOptions()" name="selectedOption" ng-options="option as option.name for option in CLCtrl.localData.availableOptions track by option.id" ng-model="myOption"></select>&ndash;&gt;-->
                    <!--<select name="selectedOption" ng-options="option as option.name for option in CLCtrl.localData.availableOptions" ng-model="CLCtrl.selected" ng-change="CLCtrl.validateOptions()"></select>-->
                    <!--<span>Currently selected: {{CLCtrl.selected}}</span>-->
                    <!--&lt;!&ndash;<span>Currently selected: {{ {selected_option:myOption} }}</span>&ndash;&gt;-->

                    <!--<input type="file" />-->
                    <!--<input type="text" />-->

                    <!--<button type="button">Almaenar</button>-->

                <!--</article>-->
            </div>
        </div>
    </section>
</article>

<app-footer></app-footer>