<app-header></app-header>
<app-nav></app-nav>

<article class="section-white">
    <div class="container">
        <div class="row">
            <!--<scholar-level-menu scholar-levels="MLCtrl.data.scholarLevels"></scholar-level-menu>-->
            <scholar-menu scholar-menus="MLCtrl.data.scholarLevels" on-menu-selected="MLCtrl.onScholarLevelMenuSelected(id)"></scholar-menu>
            <scholar-menu ng-if="MLCtrl.gradeMenus.length > 0" scholar-menus="MLCtrl.gradeMenus" item-selected-class="MLCtrl.GRADE_SELECTED" on-menu-selected="MLCtrl.onScholarGradeMenuSelected(id)"></scholar-menu>
            <scholar-menu ng-if="MLCtrl.sessionMenus.length > 0" scholar-menus="MLCtrl.sessionMenus" item-selected-class="MLCtrl.SESSION_SELECTED" on-menu-selected="MLCtrl.onScholarSessionMenuSelected(id)"></scholar-menu>
        </div>
    </div>
</article>


<article class="section-white" ng-if="MLCtrl.isMediaCointeiner">
    <section class="container-fluid">
        <div class="container">
            <div class="row distribution-session-element">
                <article class="upload-resources-container">
                    <upload-video class="upload-video-container"></upload-video>

                    <section>
                        <h3>Load Resources</h3>
                        <!-- Include Upload Resources Row -->

                        <section class="new-resources-buttons">
                            <button type="button" class="button btn-blue" ng-click="MLCtrl.newResource(MLCtrl.URL_TYPE)">Nueva URL</button>
                            <div class="separator-h-20"></div>
                            <button type="button" class="button btn-blue" ng-click="MLCtrl.newResource(MLCtrl.FILE_TYPE)">Nuevo Archivo</button>
                        </section>

                        <!--<upload-resources-row available-options="MLCtrl.localData.availableOptions"></upload-resources-row>-->
                        <!--<upload-resources-row available-options="MLCtrl.localData.availableOptions"></upload-resources-row>-->
                        <upload-resources-row resource="resource" ng-repeat="resource in MLCtrl.resourcesList" on-remove="MLCtrl.removeResource(resource)"></upload-resources-row>
                        <!--<upload-resources-row type="MLCtrl.FILE_TYPE"></upload-resources-row>-->
                        <!--<upload-resources-row type="MLCtrl.URL_TYPE"></upload-resources-row>-->
                    </section>

                    <section class="new-resources-buttons">
                        <button type="button" class="button btn-blue">Guardar</button>
                    </section>

                </article>
            </div>
        </div>
    </section>

</article>

<app-footer></app-footer>