<app-header></app-header>
<app-nav></app-nav>

<section class="section-gray">
    <article class="container-fluid">
        <div class="container">
            <div class="row">
                <mentor-resume user="MVCtrl.userSession"></mentor-resume>
            </div>
        </div>
    </article>
</section>

<article class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                <h1>Material for Session #</h1>
            </div>
        </div>
    </div>
</article>

<article class="section-white">
    <section class="container-fluid">
        <div class="container">
            <div class="row distribution-session-element">
                <article class="viewer-resources-container" ng-if="MVCtrl.isMediaCointeiner">

                    <section class="viewer-resources-video">
                        <video src="https://storage.googleapis.com/au-bbva-mx-crowdfunding.appspot.com/Ejemplo_de_video.mp4" controls/>
                    </section>

                    <section>
                        <h3>Resources</h3>

                        <view-resources-row resource="resource" ng-repeat="resource in MVCtrl.resourcesList"></view-resources-row>
                    </section>

                    <section>
                        <h3>Evaluate Material</h3>

                        <evaluate></evaluate>

                        <!--<div>-->
                            <!--<form>-->
                                <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">-->
                                    <!--<span uib-rating ng-model="rate" max="5" read-only="isReadonly" on-hover="hoveringOver(value)"-->
                                          <!--on-leave="overStar = null" titles="['one','two','three', 'four', 'five']" aria-labelledby="default-rating" class="rating-star"></span>-->
                                <!--</div>-->
                                <!--<div class="form-field text-field col-lg-4 col-md-4 col-sm-4 col-xs-4 fl_wrap">-->
                                    <!--<textarea class="fl_input"></textarea>-->
                                    <!--<label class="fl_label">Comentario</label>-->
                                <!--</div>-->
                                <!--<button type="button" class="button btn-evaluate">Evaluar</button>-->
                            <!--</form>-->
                        <!--</div>-->
                    </section>

                </article>

            </div>

            <empty-message ng-if="!MVCtrl.isMediaCointeiner" message="No hay material asociado a la Sesión."></empty-message>

        </div>
    </section>

</article>

<dt-dialog dialog-data="MVCtrl.dialog" on-confirm="MVCtrl.onConfirmDialog()" on-cancel="MVCtrl.onCancelDialog()" ng-if="MVCtrl.showDialog"></dt-dialog>

<app-footer></app-footer>