.program-nav.levels nav ul li {
  width: 33.33%;
  height: 40px;
}

.program-nav nav ul li {
  width: 20%;
  height: 40px;
  color: #666666;
}

.program-nav nav ul li:hover{
  background-color: #D4EDFC;
}

.item-selected{
  background-color: #004481;
}