<nav class="">
    <section class="container-fluid">
        <div class="container">
            <div class="row program-nav levels">
                <nav>
                    <ul>
                        <li ng-repeat="scholarLevel in $ctrl.scholarLevels">{{scholarLevel.name}}</li>
                        <!--<li>Preparatoria</li>-->
                        <!--<li class="item-selected">Universidad</li>-->
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <section id="grade-menu" class="container-fluid">
        <div class="container">
            <div class="row program-nav">
                <nav>
                    <ul>
                        <li>1er</li>
                        <li>2do</li>
                        <li class="item-selected">3ro</li>
                        <li>4to</li>
                        <li>5to</li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
</nav>
