<section class="container-fluid container-nav">
    <div class="container">
        <div class="row action-main-nav">
            <nav class="menu-main-container">
                <ul class="menu-main">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1208"><a
                            href="/mentor/">Ficha Mentor</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1208"><a
                            href="/scholarship-holder/">Lista de Becarios</a></li>
                    <!--<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1208"><a-->
                            <!--href="/scholarship-holder/card">Ficha Becario</a></li>-->
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1208"><a
                            href="/diary">Agenda</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1208"><a
                            href="/staff/media-loader">Carga de Multimedia</a></li>

                </ul>
            </nav>

            <div class="search-header">
                <form action="" method="get" id="searchForm">
                    <div class="action-icon-search">
                        <span class="icon-search"></span>
                    </div>
                    <div class="search-inpunt">
                        <input type="text" name="s" class="search" placeholder="¿Qué quieres saber?" value=""/>
                    </div>
                    <div class="close-icon-search">
                        <span class="icon-close"></span>
                    </div>
                </form>
                <div class="list-search">
                    <div class="list">
                        <h4>What are you looking for?</h4>
                        <ul>
                            <li><a href="#">Title</a></li>
                        </ul>
                    </div>
                    <!--<div class="footer-search">-->
                    <!--<p>¿No encuentras lo qué estas buscando? Ver <a href="#">Preguntas frecuentes</a> o contáctanos via <a href="#">Atención al cliente</a></p>-->
                    <!--</div>-->
                </div>
            </div>

        </div>
    </div>

    <!-- Container for the Responsive Menu -->
    <!--<div class="mobile-nav-top">-->
    <!--<div class="container">-->
    <!--<div class="menu-top-menu-container">-->
    <!--<ul id="menu-top-menu-1" class="menu">-->
    <!--<li class="">-->
    <!--<a href="#">Cancelar donativo recurrente ATM</a>-->
    <!--</li>-->
    <!--<li class="">-->
    <!--<a href="#">Registro de donadores</a>-->
    <!--</li>-->
    <!--<li class="perfil-icon ">-->
    <!--<a href="#">Perfil de donador</a>-->
    <!--</li>-->
    <!--<li class="link-kar kar-active ">-->
    <!--<a href="#">Carrito de compras</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</section>