<section>
    <!--<section id="oculto" class="orden_calendar" style="display:none;">-->
    <!--<h3>AGENDAR</h3>-->

    <form id="dairy-form">
        <!--<div class="report-calendar ">-->
            <!--<input class="orden-fecha" type="text" id="from" name="from" placeholder="Selecciona Fecha" onchange="validateInputs()">-->
        <!--</div>-->

        <article class="fields-sessions-container">
            <section class="session-hours">
                <div class="form-field text-field col-lg-6 col-md-6 col-sm-12 col-xs-12 fl_wrap focused">
                    <input type="time" name="hora" class="fl_input">
                    <label class="fl_label">Inicia </label>
                </div>
                <div class="form-field text-field col-lg-6 col-md-6 col-sm-12 col-xs-12 fl_wrap focused">
                    <input type="time" name="hora" class="fl_input">
                    <label class="fl_label">Termina</label>
                </div>

                <div class="form-field text-field col-lg-12 col-md-12 col-sm-12 col-xs-12 fl_wrap focused">
                    <p>{{$ctrl.form.date}}</p>
                    <label>Fecha</label>
                </div>
            </section>


            <section class="session-calendar">


                <div uib-datepicker="{{$ctrl.format}}" ng-model="$ctrl.form.date" class="diary-calender"></div>
            </section>
        </article>

        <div class="separator-20"></div>

        <!--agregar la url al boton agendar y que me lleve a agendar-->
        <section class="align-center">
            <button type="button" class="button btn-blue" a="">agendar</button>
        </section>
    </form>

    <!--<form action="https://www.anerbarrena.com/demos/2014/002-time-input-html5.php" name="formulario">-->
</section>