.session-container {
  margin: 100px 0;
}
.session-header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  //background: #1973B8;
  color: #ffffff;
}
.session-scheduled {
  background: #BDBDBD;
}
.session-pending-to-evaluate {
  background: #072146;
}
.session-canceled {
  background: #c0475e;
}
.session-scheduled-again {
  background: #48AE64;
}
.session-evaluated {
  background: #48AE64;
}
.session-header p {
  margin: 0;
}
.session-scholarship-holders {
  border: 1px solid #1973B8;
}

.btn-small {
  line-height: 5px;
}

.btn-small2{
width: 15px;
}