<div class="scholarship-holder-row-container">

    <section class="col-lg-2 col-md-2 col-sm-3 col-xs-3" >

        <a><p>{{$ctrl.scholarshipHolder.name}}</p></a>
    </section>

    <section class="scholarship-holder-row-attended">
        <p class="col-lg-3 col-md-3 col-sm-4 col-xs-4">¿Asistió?</p>

        <div class="col-lg-3 col-md-2 col-sm-3 col-xs-3 fl_wrap">
            <input type="radio" name="secundaria" value="gusta">
            <label>Si</label>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-3 col-xs-3 fl_wrap">
            <input type="radio" name="secundaria" value="gusta">
            <label>No</label>
        </div>
    </section>

    <section class="scholarship-holder-row-attended">
        <!--<p class="col-lg-3 col-md-3 col-sm-4 col-xs-4">Evalua</p>-->

        <div class="">

        <span uib-rating ng-model="rate" max="5" read-only="isReadonly" on-hover="hoveringOver(value)"
              on-leave="overStar = null" titles="['one','two','three', 'four', 'five']" aria-labelledby="default-rating" class="rating-star"></span>
        </div>
    </section>


    <!--<p class="subtitulos">Evelua</p>-->

    <!--<div class="checkbox col-lg-1 col-md-1 col-sm-2 col-xs-2 fl_wrap">-->
        <!--<input type="checkbox" name="secundaria" value="gusta">-->
        <!--<label>Si</label>-->
    <!--</div>-->
    <!--<div class="checkbox col-lg-1 col-md-1 col-sm-2 col-xs-2fl_wrap">-->
        <!--<input type="checkbox" name="secundaria" value="gusta">-->
        <!--<label>No</label>-->
    <!--</div>-->



    <div class="form-field text-field col-lg-4 col-md-4 col-sm-4 col-xs-4 fl_wrap">
        <textarea class="fl_input"></textarea>
        <label class="fl_label">Comentario</label>
    </div>

</div>