.text-muted {
  color: #999999;
}

.fields-sessions-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.session-calendar {
  width: 50%;
  //min-height: 290px;
  display: inline-block;
  //padding: 0 10px;
  //text-align: center;
  /*margin: 0 10px;*/
}
.session-hours {
  display: inline-block;
  width: 50%;
}

.report-calendars-section {
  width: 59%;
  display: inline-block;
  float: right;
}

.span-divisor {
  border-right: 2px solid #bbb;
}

.span-divisor-sesion {
  /*border-right: 2px solid #bbb;*/
  /*border: 1px solid #555;*/
  border-bottom: 1px solid #cdcdcd;
}

