<section class="table-responsive">
    <table class="orden-table-list">
        <tr class="th-td">
            <th>BECARIO</th>
            <th>SELECCIONAR</th>
        </tr>
        <tr class="">
            <td class="table-data-main">
                <a><p>Berenice Fuentes Arroyo </p></a>
            </td>
            <td><input type="checkbox" value="Mostrar" ></td>
        </tr>
        <tr class="">
            <td class="table-data-main">
                <!--<a href="card.htmlscholarship-card.html" th:href="@{/scholarship-holder/card}">-->
                <a><p>Berenice Fuentes Arroyo </p></a>
            </td>
            <td><input type="checkbox"></td>

        </tr>
        <tr class="">
            <td class="table-data-main">
                <a><p>Berenice Fuentes Arroyo </p></a>
            </td>
            <td><input type="checkbox"></td>
        </tr>
        <!--<tr class="backgroud-aqua-white-color">-->
        <tr class="">
            <td class="table-data-main">
                <!--<a href="card.htmlscholarship-card.html" th:href="@{/scholarship-holder/card}">-->
                <a><p>Berenice Fuentes Arroyo </p></a>
            </td>
            <td><input type="checkbox"></td>
        </tr>
        <tr class="">
            <td class="table-data-main">
                <a><p>Berenice Fuentes Arroyo </p></a>
            </td>
            <td><input type="checkbox"></td>
        </tr>
        <!--<tr class="backgroud-aqua-white-color">-->
        <tr class="">
            <td class="table-data-main">
                <!--<a href="card.htmlscholarship-card.html" th:href="@{/scholarship-holder/card}">-->
                <a><p>Berenice Fuentes Arroyo </p>
                </a>
            </td>
            <td><input type="checkbox"></td>
        </tr>
        <tr class="">
            <td class="table-data-main">
                <!--<a href="card.htmlscholarship-card.html" th:href="@{/scholarship-holder/card}">-->
                <a><p>Berenice Fuentes Arroyo </p>
                </a>
            </td>
            <td><input type="checkbox"></td>
        </tr>
        <tr class="">
            <td class="table-data-main">
                <!--<a href="card.htmlscholarship-card.html" th:href="@{/scholarship-holder/card}">-->
                <a><p>Berenice Fuentes Arroyo </p>
                </a>
            </td>
            <td><input type="checkbox"></td>
        </tr>
        <tr class="">
            <td class="table-data-main">
                <!--<a href="card.htmlscholarship-card.html" th:href="@{/scholarship-holder/card}">-->
                <a><p>Berenice Fuentes Arroyo </p>
                </a>
            </td>
            <td><input type="checkbox"></td>
        </tr>
        <tr class="">
            <td class="table-data-main">
                <!--<a href="card.htmlscholarship-card.html" th:href="@{/scholarship-holder/card}">-->
                <a><p>Berenice Fuentes Arroyo </p>
                </a>
            </td>
            <td><input type="checkbox"></td>
        </tr>

    </table>
</section>