.session-container {
  //margin: 100px 0;
}
.session-container p,
.session-container input[type=radio],
.session-container label {
  margin: 0;
}
.session-header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  //background: #1973B8;
  color: #ffffff;
  padding: 0 10px;
  font-size: 13px;
}
.diary-session-attended {
  display: inline-flex;
  align-items: center;
  padding: 0 10px;
}
.diary-session-evaluate {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px;
}
.session-scheduled {
  background: #BDBDBD;
}
.session-pending-to-evaluate {
  background: #072146;
}
.session-canceled {
  background: #c0475e;
}
.session-scheduled-again {
  background: #f4f4f4;
  color: #666666;
}
.session-evaluated {
  background: #48AE64;
}
.session-header p {
  margin: 0;
}
.session-scholarship-holders {
  border: 1px solid #1973B8;
}

.btn-small {
  line-height: 5px;
}

.btn-small2{
width: 15px;
}