<section>
    <div class="color-description">
        <div class="nomenclature-container">
            <div class="nomenclature-container-svg">
                <svg class="circle-status-svg"><circle class="circle-not-scheduled"/></svg>
            </div>
            <p class="nomenclature-container-name">No agendado</p>
        </div>
        <div class="nomenclature-container">
            <div class="nomenclature-container-svg">
                <svg class="circle-status-svg"><circle class="circle-scheduled"/></svg>
            </div>
            <span class="nomenclature-container-name">Agendado</span>
        </div>
        <div class="nomenclature-container">
            <div class="nomenclature-container-svg">
                <svg class="circle-status-svg"><circle class="circle-pending-and-evaluated"/></svg>
            </div>
            <p class="nomenclature-container-name">Pendiente por Evaluar</p>
        </div>
        <div class="nomenclature-container">
            <div class="nomenclature-container-svg">
                <svg class="circle-status-svg"><circle class="circle-done"/></svg>
            </div>
            <span class="nomenclature-container-name">Realizado y Evaluada</span>
        </div>
        <div class="nomenclature-container">
            <div class="nomenclature-container-svg">
                <svg class="circle-status-svg"><circle class="circle-not-done-and-evaluated"/></svg>
            </div>
            <p class="nomenclature-container-name">No realizada y Evaluada</p>
        </div>
    </div>
</section>