<section class="section-white">
    <h3 class="bbva-medium-blue border-after-name-section">{{$ctrl.scholarshipHolder.name}} {{$ctrl.scholarshipHolder.firstName}} {{$ctrl.scholarshipHolder.lastName}}</h3>
    <div class="container-data-card">
        <div class="item-container-data-card">
            <img src="../../../assets/img/foto_perfil.png">
        </div>

        <div class="item-container-data-card">
            <p><span class="label-scholarship-holder">Campus: </span>{{$ctrl.scholarshipHolder.schoolData[0].school[0].name}}</p>
            <p><span class="label-scholarship-holder">Universidad: </span>{{$ctrl.scholarshipHolder.scholarBiography[0].scholarLevel}}</p>
            <p><span class="label-scholarship-holder">Grado: </span>{{$ctrl.scholarshipHolder.programScholar[0].schoolGrade}}</p>
            <p><span class="label-scholarship-holder">Promedio: </span>{{$ctrl.scholarshipHolder.scholarBiography[0].levelAverage}}</p>
        </div>
        <div class="item-container-data-card">
            <p><span class="label-scholarship-holder">Cel: </span>{{$ctrl.scholarshipHolder.contactInf[0].cellPhone}}</p>
            <p><span class="label-scholarship-holder">Tel de casa: </span><span>{{$ctrl.scholarshipHolder.contactInf[0].homePhone}}</span></p>
            <p><span class="label-scholarship-holder">Correo: </span>{{$ctrl.scholarshipHolder.contactInf[0].email}}</p>
        </div>
        <!--</div>-->
    </div>
</section>
<section class="section-white">
    <h4 class="border-after-name-section">Mi biograf&iacute;a</h4>
    <p>{{$ctrl.scholarshipHolder.scholarBiography[0].biography}}</p>
</section>
<section class="section-white">
    <h4 class="border-after-name-section">Mis intereses</h4>
    <div class="container-data-card">
        <p class="item-container-interests-card" ng-repeat="interest in $ctrl.scholarshipHolder.scholarBiography[0].interest">
            <img class="list-interests" src="../../../assets/img/vineta.png"></img>{{interest.description}}
        </p>
    </div>
</section>
<section class="section-white ">
    <h4 class="border-after-name-section">Mis Sesiones</h4>
    <div class="sessions-wrapper">
        <scholarship-holder-session-card class="container-componet-session" session="session" ng-repeat="session in $ctrl.scholarshipHolder.sessions"></scholarship-holder-session-card>
        <empty-message class="empty-message" ng-if="!$ctrl.scholarshipHolder.sessions" message="Próximamente podrás ver aquí el estatus de las Sesiones."></empty-message>
    </div>
</section>