.label-scholarship-holder {
  color: #ababab;
}

.container-data-card{
  display: flex;
  width: 100%;
  flex-flow: row wrap;
}

.border-after-name-section{
  border-bottom: 1px solid #1464A5;
  padding-bottom: 18px
}

.item-container-data-card{
  width: 33.3%;
}

//.list-interests{
//  list-style-type: none;
//  list-style-image: url(../../../assets/img/vineta.png);
//}

.item-container-interests-card {
  width: 33.3%;
  display: flex;
  align-items: center;
}
.list-interests{
  display: inline-flex;
  width: 10px;
  margin-right: 5px;
}

.sessions-wrapper {
  display: flex;
  width: 100%;
  flex-flow: row wrap;

}
.empty-message {
  width: 100%;
}
.container-componet-session{
  display: inline-block;
  width: 20%;
}

.sessions-wrapper h4 {
  display: block;
}

@media (max-width: 1024px) {
  .label-scholarship-holder {
    display: block;
  }
  .item-container-data-card {
    width: 33.3%;
  }
  .container-componet-session{
    width: 25%;
  }

}
@media (max-width: 767px) {
  .label-scholarship-holder {
    display: block;
  }
  .item-container-data-card {
    width: 33.3%;
  }
  .container-componet-session{
    width: 33.3%;
  }
}
@media (max-width: 425px) {
  .label-scholarship-holder {
    display: block;
  }
  .item-container-data-card {
    width: 100%;
  }
  .container-componet-session{
    width: 50%;
  }
}







