<section class="section-white">
    <h3 class="bbva-medium-blue border-after-name-section">Berenice Fuentes Arroyo</h3>
    <div class="container-data-card">
        <div class="profile-picture">
            <img src="../../../assets/img/foto_perfil.png">
        </div>

        <!--<div class="data-card">-->
        <div>
            <p>Tec de Mty Campus Mty </p>
            <p>Universidad</p>
            <p>1er año</p>
            <p>9.2</p>
        </div>
        <div>
            <p>Cel: <span>#### ####</span></p>
            <p>Tel de casa: <span>#### ####</span></p>
            <p>berenice.fuentes@gmail.com</p>
        </div>
        <!--</div>-->
    </div>
</section>
<section class="section-white">
    <!--<section class="">-->
    <h4 class="border-after-name-section">Mi biograf&iacute;a</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
        eu fugiat
        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit
        anim id est laborum."</p>
    <!--</section>-->
</section>
<section class="section-white">
    <!--<section class="">-->
    <h4 class="border-after-name-section">Mis intereses</h4>
    <div class="container-data-card">
        <div>
            <ul>
                <li class="list-interests">Coffee</li>
                <li class="list-interests">Tea</li>
                <li class="list-interests">Milk</li>
            </ul>
        </div>
        <div>
            <ul>
                <li class="list-interests">Coffee</li>
                <li class="list-interests">Tea</li>
                <li class="list-interests">Milk</li>
            </ul>
        </div>
    </div>
    <!--</section>-->
</section>
<section class="section-white ">
    <!--<section class="">-->
    <h4 class="border-after-name-section">Mis Sesiones</h4>
    <div class="sessions-wrapper">
        <div class="container-session">
            <h5>Sesi&oacute;n Uno</h5>
            <div class="rectangle-done">
                <p>Fecha: <span>14/05/2018</span></p>
                <p>Hora: <span>16:33</span></p>
                <p>Estatus: <span>Realizada y Evaluada</span></p>
            </div>
        </div>
        <div class="container-session">
            <h5>Sesi&oacute;n Dos</h5>
            <div class="rectangle-scheduled">
                <p>Fecha: <span>14/05/2018</span></p>
                <p>Hora: <span>16:33</span></p>
                <p>Estatus: <span>Agendada</span></p>
            </div>
        </div>
        <div class="container-session">
            <h5>Sesi&oacute;n Tres</h5>
            <div class="rectangle-not-scheduled">
                <p>Fecha: <span>--/--/----</span></p>
                <p>Hora: <span>--:--</span></p>
                <p>Estatus: <span>No agendada</span></p>
            </div>
        </div>
        <div class="container-session">
            <h5>Sesi&oacute;n Cuatro</h5>
            <div class="rectangle-pending-and-evaluated">
                <p>Fecha: <span>14/07/2018</span></p>
                <p>Hora: <span>16:33</span></p>
                <p>Estatus: <span>Pendiente por Evaluar</span></p>
            </div>
        </div>
        <div class="container-session">
            <h5>Sesi&oacute;n Cinco</h5>
            <div class="rectangle-not-done-and-evaluated">
                <p>Fecha: <span>14/07/2018</span></p>
                <p>Hora: <span>16:33</span></p>
                <p>Estatus: <span>No realizada y Evaluada</span></p>
            </div>
        </div>
        <div class="container-session">
            <h5>Sesi&oacute;n Seis</h5>
            <div class="rectangle-not-scheduled">
                <p>Fecha: <span>--/--/--</span></p>
                <p>Hora: <span>--:--</span></p>
                <p>Estatus: <span>No Agendado</span></p>
            </div>
        </div>
        <!--</section>-->
    </div>
</section>