<div class="container-session">
    <h5>Sesi&oacute;n Uno</h5>
    <!--<div class="rectangle-pending-and-evaluated" ng-if="$ctrl.session.status == 'Pending for Evaluated'">-->
    <!--<div class="rectangle-scheduled" ng-if="$ctrl.session.status == 'Scheduled'">-->
    <!--<div class="rectangle-not-scheduled" ng-if="$ctrl.session.status == 'Not Scheduled'">-->
    <!--<div class="rectangle-not-done-and-evaluated" ng-if="$ctrl.session.status == 'Not Done and Evaluated'">-->
    <!--<div class="rectangle-done" ng-if="$ctrl.session.status == 'Done'">-->
    <div class="rectangle-done">
        <p>Fecha: <span>{{$ctrl.session.date}}</span></p>
        <p>Hora: <span>16:33</span></p>
        <p>Estatus: <span>Realizada y Evaluada</span></p>
    </div>
</div>