<svg class="circle-status-svg" ng-repeat="session in $ctrl.sessions">
    <circle ng-class="session.status == 'Done' ? 'circle-done' :
    (session.status == 'Not Done and Evaluated' ? 'circle-not-done-and-evaluated' :
    (session.status == 'Not Scheduled' ? 'circle-not-scheduled' :
    (session.status == 'Scheduled' ? 'circle-scheduled' :
    (session.status == 'Pending for Evaluated' ? 'circle-pending-and-evaluated' : ''))))"/>
    <text x=9 y=18 ng-class="session.status != 'Not Scheduled' ? 'svg-text' : 'svg-text-black'">{{session.id}}</text>
</svg>