<table>
    <thead>
        <tr>
            <th>BECARIO</th>
            <th>AÑO ESCOLAR</th>
            <th>ESCUELA/CAMPUS</th>
            <th>PROMEDIO</th>
            <th>AGENDAR SESIÓN</th>
        </tr>
    </thead>
    <tbody>
        <!--<scholarship-holder-detail ng-repeat="scholarshipHolder in $ctrl.data.scholarshipHolders"></scholarship-holder-detail>-->
        <tr ng-repeat="scholarshipHolder in $ctrl.scholarshipHolders">
            <td class="table-data-main">
                <a href="/scholarship-holder/{{scholarshipHolder.id}}/card">
                    <p>{{scholarshipHolder.name}}</p>
                </a>
                <p>{{scholarshipHolder.cause}}</p>
                <p>{{scholarshipHolder.school}}</p>
                <p>{{scholarshipHolder.address}}</p>
            </td>
            <td>{{scholarshipHolder.grade}}</td>
            <td>{{scholarshipHolder.campus}}</td>
            <td>{{scholarshipHolder.average}}</td>
            <td>
                <scholarship-holder-sessions sessions="scholarshipHolder.sessions"></scholarship-holder-sessions>
                <!--<svg class="circle-status-svg" ng-repeat="session in scholarshipHolder.sessions">-->
                    <!--<circle class="circle-pending-and-evaluated" ng-if="session.status == 'Pending for Evaluated'"/>-->
                    <!--<circle class="circle-scheduled" ng-if="session.status == 'Scheduled'"/>-->
                    <!--<circle class="circle-not-scheduled" ng-if="session.status == 'Not Scheduled'"/>-->
                    <!--<circle class="circle-not-done-and-evaluated" ng-if="session.status == 'Not Done and Evaluated'"/>-->
                    <!--<circle class="circle-done" ng-if="session.status == 'Done'"/>-->
                    <!--<text x=9 y=18 class="svg-text" ng-if="session.status != 'Not Scheduled'">{{session.id}}</text>-->
                    <!--<text x=9 y=18 class="svg-text-black" ng-if="session.status == 'Not Scheduled'">{{session.id}}</text>-->
                <!--</svg>-->
            </td>

        </tr>
    </tbody>
</table>


<scholarship-holder-status-nomenclature></scholarship-holder-status-nomenclature>
