.rectangle-done,
.rectangle-scheduled,
.rectangle-not-scheduled,
.rectangle-pending-and-evaluated,
.rectangle-not-done-and-evaluated {
  width: 100%;
  height: 100px;
  border-radius: 20px 20px 25px 20px;
  padding: 8px;
  text-align: left;
}
.rectangle-done {
  border: solid 2px #48AE64;
  background: #48AE64;
  color: #ffffff;
}
.rectangle-scheduled {
  border: solid 2px #BDBDBD;
  background: #BDBDBD;
  color: #ffffff;
}
.rectangle-not-scheduled{
  border: solid 2px #F4F4F4;
  background: #F4F4F4;
}

.rectangle-pending-and-evaluated{
  border: solid 2px #072146;
  background: #072146;
  color: #ffffff;
}

.rectangle-not-done-and-evaluated{
  border: solid 2px #F35E61;
  background: #F35E61;
  color: #ffffff;
}

.rectangle-done p,
.rectangle-scheduled p,
.rectangle-not-scheduled p,
.rectangle-pending-and-evaluated p,
.rectangle-not-done-and-evaluated p{
  font-size: 11px;
}
.rectangle-done span,
.rectangle-scheduled span,
.rectangle-not-scheduled span,
.rectangle-pending-and-evaluated span,
.rectangle-not-done-and-evaluated span{
  font-size: 11px;
  font-weight: bold;
}
.rectangle-done p,
.rectangle-scheduled p,
.rectangle-pending-and-evaluated p,
.rectangle-not-done-and-evaluated p{
  color: #efefef;
}

.rectangle-done p span,
.rectangle-scheduled p span,
.rectangle-pending-and-evaluated p span,
.rectangle-not-done-and-evaluated p span{
  color: #ffffff;
}

.rectangle-not-scheduled p {
  color: #9a9a9a;
}
.rectangle-not-scheduled p span {
  color: #323232;
}

.list-interests{
  list-style-type: none;
  list-style-image: url(../../../assets/img/vineta.png);
}

.border-after-name-section{
  border-bottom: 1px solid #1464A5;
  padding-bottom: 18px
}

.container-data-card{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  /*grid-template-columns: 150px 1fr;*/
  /*grid-template-rows: 100%;*/
}
.sessions-wrapper {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  /*display: flex;*/
  /*justify-content: center;*/
}
.sessions-wrapper h4 {
  display: block;
}

.container-session{
  width: 90%;
  display: inline-block;
  margin: 5px;
  text-align: center;
  justify-self: center;
  align-self: center;
}


.container-session h5 {
  width: 100%;
  text-align: center;
}

@media (max-width: 767px) {
  .container-data-card {
    grid-template-columns: repeat(3,1fr);
  }
  .sessions-wrapper {
    grid-template-columns: repeat(3,1fr);
  }
}
@media (max-width: 425px) {
  .container-data-card {
    grid-template-columns: 1fr;
  }
  .sessions-wrapper {
    grid-template-columns: repeat(2,1fr);
  }
}
