<div class="container-session">
    <h5>Sesi&oacute;n Uno</h5>
    <div ng-class="$ctrl.session.status == 'Done' ? 'rectangle-done' :
    ($ctrl.session.status == 'Not Done and Evaluated' ? 'rectangle-not-done-and-evaluated' :
    ($ctrl.session.status == 'Not Scheduled' ? 'rectangle-not-scheduled' :
    ($ctrl.session.status == 'Scheduled' ? 'rectangle-scheduled' :
    ($ctrl.session.status == 'Pending for Evaluated' ? 'rectangle-pending-and-evaluated' : ''))))">
        <p>Fecha: <span>{{$ctrl.session.date}}</span></p>
        <p>Hora: <span>{{$ctrl.session.beginHour}} a {{$ctrl.session.endHour}}</span></p>
        <p>Estatus: <span>{{$ctrl.session.status}}</span></p>
    </div>
</div>