<app-header></app-header>
<app-nav></app-nav>

<section class="section-gray">
    <article class="container-fluid">
        <div class="container">
            <div class="row">
                <mentor-resume user="MLCtrl.userSession"></mentor-resume>
            </div>
        </div>
    </article>
</section>

<article class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                <h1>Media Loader</h1>
            </div>
        </div>
    </div>
</article>

<article class="section-white">
    <div class="container">
        <div class="row">
            <session-menu level-menus="MLCtrl.data.scholarLevels" on-level-menu-selected="MLCtrl.onLevelOrGradeMenuSelected()" on-grade-menu-selected="MLCtrl.onLevelOrGradeMenuSelected()" on-session-menu-selected="MLCtrl.onSessionMenuSelected(id)"></session-menu>
            <!--<scholar-level-menu scholar-levels="MLCtrl.data.scholarLevels"></scholar-level-menu>-->
            <!--<scholar-menu scholar-menus="MLCtrl.data.scholarLevels" on-menu-selected="MLCtrl.onScholarLevelMenuSelected(id)"></scholar-menu>-->
            <!--<scholar-menu ng-if="MLCtrl.gradeMenus.length > 0" scholar-menus="MLCtrl.gradeMenus" item-selected-class="MLCtrl.GRADE_SELECTED" on-menu-selected="MLCtrl.onScholarGradeMenuSelected(id)"></scholar-menu>-->
            <!--<scholar-menu ng-if="MLCtrl.sessionMenus.length > 0" scholar-menus="MLCtrl.sessionMenus" item-selected-class="MLCtrl.SESSION_SELECTED" on-menu-selected="MLCtrl.onScholarSessionMenuSelected(id)"></scholar-menu>-->
        </div>
    </div>
</article>


<article class="section-white">
    <section class="container-fluid">
        <div class="container">
            <div class="row distribution-session-element">
                <article class="upload-resources-container" ng-if="MLCtrl.isMediaCointeiner">
                    <upload-video class="upload-video-container"></upload-video>

                    <section>
                        <!--<h3>Load Resources</h3>-->
                        <!-- Include Upload Resources Row -->

                        <section class="new-resources-buttons">
                            <button type="button" class="button btn-blue" ng-click="MLCtrl.newResource(MLCtrl.URL_TYPE)">Nueva URL</button>
                            <div class="separator-h-20"></div>
                            <button type="button" class="button btn-blue" ng-click="MLCtrl.newResource(MLCtrl.FILE_TYPE)">Nuevo Archivo</button>
                        </section>

                        <!--<upload-resources-row available-options="MLCtrl.localData.availableOptions"></upload-resources-row>-->
                        <!--<upload-resources-row available-options="MLCtrl.localData.availableOptions"></upload-resources-row>-->
                        <upload-resources-row resource="resource" ng-repeat="resource in MLCtrl.resourcesList" on-remove="MLCtrl.removeResource(resource)"></upload-resources-row>
                        <!--<upload-resources-row type="MLCtrl.FILE_TYPE"></upload-resources-row>-->
                        <!--<upload-resources-row type="MLCtrl.URL_TYPE"></upload-resources-row>-->
                    </section>

                    <section class="new-resources-buttons">
                        <button type="button" class="button btn-blue" ng-click="MLCtrl.onSaveResources()">Guardar</button>
                        <button type="button" class="button btn-blue" ng-click="MLCtrl.onPreview()">Vista previa</button>
                    </section>

                </article>

            </div>

            <empty-message ng-if="!MLCtrl.isMediaCointeiner" message="Seleccionar nivel, grado Escolar y número de sessión a revisar, de favor."></empty-message>

        </div>
    </section>

</article>

<dt-dialog dialog-data="MLCtrl.dialog" on-confirm="MLCtrl.onConfirmDialog()" on-cancel="MLCtrl.onCancelDialog()" ng-if="MLCtrl.showDialog"></dt-dialog>

<app-footer></app-footer>